.wrapper {
    display: flex;
    position: relative;
    height: 590px;
    width: 310px;
    color: white;
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 40px;
    margin: 100px auto 0 auto;
    .wrapper__data__title {
        font-weight: 800;
        font-size: 40px;
        line-height: 36px;
        width: 10px;
        z-index: 2;
    }
    .wrapper__data__place {
        transform: rotateZ(-90deg) translateX(calc(50%)) translateY(-50%);
        position: absolute;
        z-index: 2;
        bottom: 80px;
        left: 40px;
        text-align: right;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        width: 50px;
        white-space: nowrap;
    }

    .wrapper__mask {
        position: absolute;
        background: #1c2121;
        background-size: contain;
        top: 0;
        left: 0;
        height: 100%;
        width: 390px;
        flex: 1;
        opacity: 0.85;
        transition: all 0.4s;
        &:hover {
            opacity: 0.3;
        }
    }
}
.wrapper__data__title:hover ~ .wrapper__mask {
    opacity: 0.3;
}
.wrapper__data__place:hover ~ .wrapper__mask {
    opacity: 0.3;
}
