.swiper-pagination {
    display: flex !important;
    justify-content: flex-end;
    width: calc(100% - 80px) !important;
    gap: 40px;
    margin-bottom: 30px;
}

.swiper-pagination-bullet-active {
    background-color: transparent !important;
    &::before {
        background-color: #4af6cd !important;
    }
}
.swiper-pagination-bullet {
    display: flex;
    flex-direction: column;
    height: fit-content !important;
    width: 200px !important;
    color: white;
    opacity: 1 !important;
    background-color: transparent !important;
    &::before {
        content: "";
        display: block;
        background-color: white;
        height: 4px !important;
        width: 200px !important;
    }
}
.swiper__container {
    z-index: auto !important;
}
