.wrapper {
    // border: 1px solid red;
    padding: 30px;
    color: white;
    background-color: rgba(15, 16, 16, 0.7);
    border-radius: 6px;
    .wrapper__top {
        display: flex;
        justify-content: space-between;
        gap: 94px;
        .wrapper__top__beachInfo {
            .beachInfo__title {
                font-weight: 800;
                font-size: 18px;
                line-height: 26px;
                text-transform: uppercase;
                margin-bottom: 5px;
            }
            span {
                display: block;
                height: 1px;
                width: 80px;
                background-color: #4af6cd;
            }
            .beachInfo__country {
                font-size: 16px;
                line-height: 19px;
                margin-top: 8px;
            }
        }
        a img {
            width: 16px;
        }
    }
    .wrapper__bottom__weatherInfo {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 30px;
        .weatherInfo__surf,
        .weatherInfo__tidy,
        .weatherInfo__wind {
            display: flex;
            flex-direction: column;
            font-weight: 800;
            font-size: 16px;
            line-height: 23px;
            gap: 8px;
            img {
                height: 24px;
            }
            .label {
                font-weight: 300;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
            }
        }
    }
}
