.wrapper {
  width: 100%;
  background-color: #171919;
  z-index: 1;
  .wrapper__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    z-index: 2;
    .wrapper__title__left {
      color: white;
      padding-top: 138px;
      .big {
        top: 0;
        width: fit-content;
      }
    }
    .wrapper__title__right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      color: #ffffff;
      padding-right: 80px;
      margin-bottom: -50px;
      position: relative;
      .label {
        position: relative;
        font-size: 22px;
        line-height: 32px;
        text-align: right;
        width: fit-content;
        letter-spacing: 7.33333px;
        text-transform: uppercase;
        opacity: 0.5;
        &:before {
          content: "";
          position: absolute;
          height: 1px;
          width: 80px;
          background-color: #ffffff;
          top: 50%;
          transform: translate(-120%, -50%);
        }
      }
      .location {
        font-weight: 800;
        font-size: 40px;
        line-height: 86px;
        text-align: right;
        text-transform: uppercase;
        span {
          font-weight: 250;
        }
      }
    }
  }
  .wrapper__slider {
    .wrapper__slider__slide {
      position: relative;
      height: 780px;
      width: 100%;
      z-index: 1 !important;
      color: white;
      display: flex;
      flex-direction: row-reverse;
      background-color: #171919;
      .slide__back {
        position: absolute;
        z-index: 1 !important;
        bottom: 0;
        left: 0;
        height: 780px;
        min-width: 80vw;
        width: 80vw;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .slide__mask {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 780px;
        width: 80vw;
        min-width: 80vw;
        z-index: 2;
        background: linear-gradient(90deg, transparent 40%, #171919 100%),
          linear-gradient(0deg, transparent 40%, #171919 100%),
          linear-gradient(180deg, transparent 40%, #171919 100%);
      }
      .slide__data {
        position: absolute;
        bottom: 0;
        left: 135px;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 3;
        .slide__data__label {
          font-weight: 400;
          font-size: 22px;
          line-height: 32px;
          letter-spacing: 7.33333px;
          opacity: 0.5;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 80px;
            background-color: #ffffff;
            top: 50%;
            transform: translate(10px, -50%);
          }
        }
        .slide__data__title {
          font-weight: 800;
          font-size: 40px;
          line-height: 86px;
          display: flex;
          align-items: center;
          gap: 25px;
        }
      }
      .slide__title__right {
        text-align: right;
        z-index: 3;
        position: relative;
        display: flex !important;
        right: 0;
        height: 780px;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 90px;
        .label {
          position: relative;
          font-size: 22px;
          line-height: 32px;
          letter-spacing: 7.33333px;
          text-transform: uppercase;
          opacity: 0.5;
          right: 80px;
          &:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 80px;
            background-color: #ffffff;
            top: 50%;
            transform: translate(-120%, -50%);
          }
        }
        .location {
          position: relative;
          font-weight: 800;
          font-size: 40px;
          line-height: 86px;
          text-transform: uppercase;
          right: 80px;
          span {
            font-weight: 250;
          }
        }
      }
    }
    .slide__bottom {
      background-color: #171919;
      width: 100%;
      height: fit-content;
      .slide__bottom__data {
        padding: 100px 140px 220px 140px;
        display: flex !important;
        flex-direction: row;
        gap: 7vw;
        justify-content: space-between;
        font-weight: 800;
        font-size: 40px;
        line-height: 36px;
        text-transform: uppercase;
        color: #fff;
        z-index: 10 !important;
        position: relative !important;

        .data__container {
          display: flex;
          flex-direction: column;
          width: fit-content;
          position: relative;
          gap: 12px;
          min-width: 200px;
          //justify-content: center;
          align-content: flex-start;
          flex-wrap: wrap;
          z-index: 12 !important;
          .data__label {
            font-size: 18px;
            line-height: 22px;
            text-align: right;
            letter-spacing: 8px;
            text-transform: uppercase;
            color: #ffffff;
            opacity: 0.5;
            transform: rotate(-90deg) translateX(-90%) translateY(-36px);
            white-space: nowrap;
            position: absolute;
            left: 0;
            top: 0;
            transform-origin: 0 0;
          }
        }
      }
      .slide__bottom__btn {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 80px;
        font-weight: 800;
        font-size: 40px;
        line-height: 36px;
        text-transform: uppercase;
        color: #ffffff;
        align-items: center;
        margin-bottom: 100px;
        div {
          padding: 18px;
          cursor: pointer;
        }
        .book {
          padding-right: 0;
        }
        .stick {
          min-height: 1px;
          background-color: #fff;
          min-width: 20px;
          transform: translateX(50%);
        }
        .flight {
          background-color: #4af6cd;
          display: flex;
          align-items: center;
          gap: 16px;
        }
        .frangipaniBig {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
.images__container {
  display: flex;
  flex-direction: column;
  .hammock {
    width: 565px;
    align-self: flex-end;
  }
  .frangipani {
    margin-top: -140px;
    align-self: flex-end;
  }
}

.slide__nav__prev {
  content: url("./../../images/arrows/leftArrow.svg");
  top: 40px !important;
  left: auto !important;
  right: 125px !important;
}
.slide__nav__next {
  content: url("./../../images/arrows/rightArrow.svg");
  top: 40px !important;
  right: 80px !important;
}
.controls {
  display: flex;
  position: relative !important;
  gap: 16px;
  z-index: 9000000 !important;
  align-content: center;
  div {
    cursor: pointer;
    height: 14px;
    width: 14px;
    display: flex;
    align-content: center;
    img {
      width: 14px;
    }
  }
}
