.wrapper {
    height: 100%;
    width: 100%;
    background-color: #171919;
    .wrapper__navi {
        padding: 20px;
        height: 25px;
    }
    .wrapper__slider {
        height: fit-content;
        border: 1px solid red;
    }
}