.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #171919;
    margin-top: 0;
    height: 100vh;
    .wrapper__title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        .wrapper__title__left {
            color: white;
            padding-top: 138px;
            .big {
                top: 0;
                width: fit-content;
                position: relative;
                .small {
                    font-size: 80px;
                    font-weight: 800;
                    position: relative;
                    width: fit-content;
                    text-transform: uppercase;
                    position: absolute;
                    top: -35px;
                    right: -14px;
                    &::before {
                        content: "";
                        position: absolute;
                        right: 0;
                        height: 1px;
                        width: 80px;
                        background-color: #4af6cd;
                    }
                }
            }
        }
        .wrapper__title__right {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: #ffffff;
            padding-right: 80px;
            margin-bottom: -50px;
            position: relative;
            .label {
                position: relative;
                font-size: 22px;
                line-height: 32px;
                text-align: right;
                letter-spacing: 7.33333px;
                text-transform: uppercase;
                opacity: 0.5;
                &:before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 80px;
                    background-color: #ffffff;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -105px;
                }
            }
            .location {
                font-weight: 800;
                font-size: 40px;
                line-height: 86px;
                text-align: right;
                text-transform: uppercase;
                span {
                    font-weight: 250;
                }
            }
            .locationLogo {
                opacity: 0.03;
                position: absolute;
                bottom: 0;
                transform: translateY(43%);
                right: -130px;
                height: 350px;
            }
        }
    }
    .wrapper__locationDots {
        display: flex;
        justify-self: center;
        justify-content: center;
        margin-bottom: 57px;
        position: relative;
        .popUp {
            position: absolute;
            display: none;
        }
    }
}
